/* Шрифты */
$kaushan: 'Kaushan Script';
$montserrat: 'Montserrat';
$montserrat-700: 'Montserrat-700';
$roboto: 'Roboto';

/*Цвет текста в блоке HEADER */
$header-text-color:#fff;

/*Цвет текста в блоке HEADER при hover */
$header-text-hover-color:#fce38a;
