@import "_variables.scss"; /* Переменные */
@import "_fonts.scss"; /* Шрифты */
@import "_global.scss"; /* Глобальные свойства */
@import "_animations.scss"; /* Анимации */

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-image: url(../img/header__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(211, 211, 211);
    padding: 28px 0;
}

/* HEADER-TOP */

.header__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 170px 0;
}

.header__logo {
    margin: 0 auto 15px 0;
}

.logo {
    text-decoration: none;
    font-family: $montserrat-700;
    font-size: 30px;
    color: $header-text-color;
    transition: color .3s ease;
}

.logo:hover {
    color: $header-text-hover-color;
}

.window-bg {
    display: none;
}

.burger {
    display: none;
}

.nav__list {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.nav__item {
    list-style-type: none;
    margin: 0 0 0 50px;
}

.nav__item:last-child {
    margin: 0 0 0 40px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: 14px;
    color: $header-text-color;
    transition: color .3s ease;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0%;
    border-bottom: 3px solid $header-text-hover-color;
    margin: 11px 0 0 0;
    transition: width .3s ease;
}

.nav__link:hover {
    color: $header-text-hover-color;
}

.nav__link:hover::after {
    width: 100%;
}

/* =FOR JS= */

.nav__link--active {
    color: $header-text-hover-color;
}

.nav__link--active::after {
    width: 100%;
}

/* === */

.nav__basket,
.nav__search {
    fill: $header-text-color;
    cursor: pointer;
    transition: color .3s ease;
}

.nav__basket:hover,
.nav__search:hover {
    fill: $header-text-hover-color;
}

/* HEADER-CONTENT */

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    margin: 0 auto 155px auto;
}

.header__title-above {
    font-family: $kaushan;
    font-size: 72px;
    // font-weight: 400;
    color: $header-text-color;
    text-align: center;
    margin: 0 0 60px 0;
}

.header__title-main {
    text-transform: uppercase;
    font-family: $montserrat-700;
    font-size: 150px;
    color: $header-text-color;
    line-height: 140px;
    text-align: center;
    margin: 0;
}

.header__title-main::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    width: 60px;
    margin: 70px auto 50px auto;
}

.header__button {
    display: block;
    width: 162px;
    text-align: center;
    border: 3px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $montserrat-700;
    font-size: 14px;
    color: $header-text-color;
    padding: 11px 20px;
    transition: background-color .3s ease;
}

.header__button:hover {
    background-color: #eece59;
}

/* HEADER-BOTTOM */

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__block {
    font-family: $montserrat;
    font-size: 18px;
    color: $header-text-color;
    text-transform: uppercase;
    max-width: 280px;
    flex-grow: 1;
    width: 100%;
    border-top: 3px solid #fff;
    padding: 24px 0 0 0;
    margin: 0 30px 0 0;
    opacity: 0.7;
    position: relative;
    cursor: pointer;
}

.header__block::after {
    content: "";
    display: block;
    width: 70px;
    border-top: 3px solid #fff;
    position: absolute;
    top: -3px;
    left: 0;
}

.header__block:hover {
    opacity: 1;
}

.header__block:hover::after {
    border-color: #f38181;
}

.header__block:last-child {
    margin: 0;
}

.header__block::before {
    content: "00";
    font-family: $montserrat-700;
    font-size: 24px;
    color: $header-text-color;
    margin: 0 8px 0 0;
}

.header__block:nth-child(1)::before {
    content: "01";
}

.header__block:nth-child(2)::before {
    content: "02";
}

.header__block:nth-child(3)::before {
    content: "03";
}

.header__block:nth-child(4)::before {
    content: "04";
}

/* MAIN */

/* SECTION 1 */
/* ABOUT */

.about {
    background-color: #fff;
    padding: 94px 0 0 0;
}

.about__theme {
    margin: 0 auto 103px auto;
}

.theme {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme__title-above {
    font-family: $kaushan;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin: 0 0 21px 0;
}

.theme__title-main {
    text-transform: uppercase;
    font-family: $montserrat-700;
    font-size: 30px;
    color: #333333;
    text-align: center;
    margin: 0;
}

.theme__title-main::after {
    content: "";
    display: block;
    border-bottom: 3px solid #f38181;
    width: 60px;
    margin: 41px auto 47px auto;
}

.theme__text {
    font-family: $roboto;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.about__pictures {
    display: flex;
    justify-content: space-between;
    margin: 0 0 112px 0;
}

.link-gradient {
    margin: 0 28px 0 0;
    background-color: #95e1d3;
    min-width: 380px;
    min-height: 250px;
    position: relative;
}

.link-gradient:last-child {
    margin: 0;
}

.link-gradient__front {
    width: 380px;
    height: 250px;
    background-image: url(../img/About__img-hover.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.link-gradient__icon {
    display: block;
    fill: #fff;
    margin: 0 0 10px 0;
}

.link-gradient__text {
    font-family: $montserrat-700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    max-width: 300px;
    text-align: center;
    margin: 0;
}

.link-gradient__img {
    width: 380px;
    height: 250px;
    display: block;
}

.link-gradient:hover .link-gradient__front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 2;
}

.link-gradient:hover .link-gradient__img {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
}

/* STAT */

.stat-wrapper {
    background-color: #95e1d3;
    overflow: hidden;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.stat__block {
    flex-grow: 1;
    max-width: 240px;
    min-height: 270px;
    padding: 90px 0;
    border-left: 1px solid #b5eae0;
    opacity: 0;
}

.stat__block--visible1 {
    animation: anim1 forwards 0.7s linear;
}

.stat__block--visible2 {
    animation: anim2 forwards 0.7s linear;
}

.stat__block:nth-child(2) {
    animation-delay: 0.5s;
}

.stat__block:nth-child(3) {
    animation-delay: 1s;
}

.stat__block:nth-child(4) {
    animation-delay: 1.5s;
}

.stat__block:last-child {
    border-right: 1px solid #b5eae0;
    animation-delay: 2s;
}

.stat__number {
    display: block;
    font-family: $montserrat-700;
    font-size: 72px;
    color: #fff;
    text-align: center;
    word-break: break-all;
    margin: 0 0 29px 0;
}

.stat__text {
    font-family: $montserrat;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

/* SECTION 2 */
/* SERVICES */

.services {
    background-color: #fff;
    padding: 108px 0 120px 0;
}

.services__theme {
    margin: 0 auto 19px auto;
}

.services__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1px 1fr;
    grid-gap: 48px 50px;
}

.services-block {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services-block::before {
    content: "";
    min-width: 34px;
    height: 34px;
    background-image: url(../img/services__alarm.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px 28px 0 0;
}

.services-block.services-block:nth-child(2)::before {
    background-image: url(../img/services__graph.png);
}

.services-block.services-block:nth-child(3)::before {
    background-image: url(../img/services__computer.png);
}

.services-block.services-block:nth-child(4)::before {
    background-image: url(../img/services__book.png);
}

.services-block.services-block:nth-child(5)::before {
    background-image: url(../img/services__home.png);
}

.services-block.services-block:nth-child(6)::before {
    background-image: url(../img/services__aim.png);
}

.services-block__content {
   display: flex;
   flex-direction: column;
}

.services-block:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.services-block:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.services-block:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
}

.services-block:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
}

.services-block:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
}

.services-block:nth-child(6) {
    grid-column: 3/4;
    grid-row: 3/4;
}

.services__line {
    grid-column: 1/4;
    grid-row: 2/3;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.services-block__title {
    font-family: $montserrat;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.services-block__text {
    font-family: $roboto;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    margin: 0;
}

/* SECTION 3 */
/* DESIGN */

.design {
    background-color: #d9d9d9;
    background-image: url(../img/design__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 110px 0 0 0;
}

.design__theme {
    margin: 0 auto;
}

.design__pictures {
    margin: 0 auto;
    width: 520px;
    height: 582px;
    background-image: url(../img/design__tablet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: relative;
}

.design__pictures::after {
    content: "";
    display: block;
    width: 274px;
    height: 476px;
    background-image: url(../img/design__phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -100px;
    right: -118px;
}

/* FOOTER */

.footer {
    background-color: #f8f8f8;
    padding: 120px 0 22px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 69px auto;
}

/* BLOCK 1 */

.footer__block {
    display: flex;
    flex-direction: column;
}

.footer-block1 {
    max-width: 465px;
}

.footer-block1__logo {
    font-family: $montserrat-700;
    font-size: 46px;
    line-height: 1.2;
    color: #cccccc;
    margin: 0 0 42px 0;
}

.footer-block1__text {
    font-family: $roboto;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    margin: 0 0 49px 0;
}

.footer-block1__wrp {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-block1__followers {
    font-family: $montserrat;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
    margin: 0;
}

.footer-block1__followers::after {
    content: "";
    display: block;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    margin: 18px 0;
}

.footer-block1__quantity {
    font-family: $montserrat-700;
    font-size: 18px;
    line-height: 1.2;
    color: #333333;
}

.footer-block1__social {
    display: flex;
    align-items: center;
    margin: 0 0 38px 0;
}

.footer-block1__text-follow {
    font-family: $roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin: 0 23px 0 0;
}

.footer-block1__link {
    display: block;
    text-decoration: none;
    margin: 0 15px 0 0;
}

.footer-block1__facebook,
.footer-block1__twitter,
.footer-block1__instagram,
.footer-block1__pinterest,
.footer-block1__google,
.footer-block1__youtube,
.footer-block1__dribble,
.footer-block1__tumblr {
    fill: $footer-social-color;
}

.footer-block1__youtube {
    margin: 0 0 1px 0;
}

.footer-block1__facebook:hover,
.footer-block1__twitter:hover,
.footer-block1__tumblr:hover {
    fill: blue;
}

.footer-block1__instagram:hover {
    fill: blueviolet;
}

.footer-block1__pinterest:hover,
.footer-block1__dribble:hover {
    fill: brown;
}

.footer-block1__google:hover {
    fill: rgb(113, 224, 2);
}

.footer-block1__youtube:hover {
    fill: red;
}

.footer-block1__form {
    display: flex;
    align-items: center;
}

.footer-block1__email {
    max-width: 230px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    padding: 13px;
    font-family: $roboto;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: black;
}

.footer-block1__email::placeholder {
    color: #cccccc;
}

.footer-block1__email:hover {
    border: 1px solid blueviolet;
}

.footer-block1__email:focus {
    outline: none;
    border: 1px solid blueviolet;
    background-color: rgba(137, 43, 226, 0.007);
}

.footer-block1__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $montserrat-700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffffff;
    text-transform: uppercase;
    word-break: break-all;
    outline: none;
    padding: 3px;
    text-align: center;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #95e1d3;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .3s ease;
}

.footer-block1__btn:hover {
    background-color: blueviolet;
}

/* BLOCK 2*/

.footer-block2 {
    max-width: 350px;
    min-width: 295px;
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 48px;
    padding: 15px 0 0 0;
}

.footer-block2__title {
    font-family: $montserrat;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 40px 0;
}

.footer-block2__wrp {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-block2__blog {
    display: block;
    text-decoration: none;
    margin: 0 0 30px 0;
}

.footer-block2__picture {
    display: block;
    width: 120px;
    height: 80px;
    margin: 0 20px 5px 0;
    float: left;
}

.footer-block2__blog:last-child {
    margin: 0;
}

.footer-block2__description {
    font-family: $montserrat;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
    color: #333333;
    margin: 20px 0 10px 0;
}

.footer-block2__date {
    font-family: $roboto;
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin: 0;
}

/* BLOCK 3*/

.footer-block3 {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    padding: 15px 0 0 0;
}

.footer-block3__title {
    font-family: $montserrat;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0 40px 0;
}

.footer-block3__wrp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    margin: 0 0 20px 0;
}

.footer-block3__photo {
    display: block;
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-block3__photo:nth-child(1) {
    background-image: url(../img/footer_block3__picture1.png);
    grid-column: 1/2;
    grid-row: 1/2;
}

.footer-block3__photo:nth-child(2) {
    background-image: url(../img/footer_block3__picture2.png);
    grid-column: 2/3;
    grid-row: 1/2;
}

.footer-block3__photo:nth-child(3) {
    background-image: url(../img/footer_block3__picture3.png);
    grid-column: 3/4;
    grid-row: 1/2;
}

.footer-block3__photo:nth-child(4) {
    background-image: url(../img/footer_block3__picture4.png);
    grid-column: 1/2;
    grid-row: 2/3;
}

.footer-block3__photo:nth-child(5) {
    background-image: url(../img/footer_block3__picture5.png);
    grid-column: 2/3;
    grid-row: 2/3;
}

.footer-block3__photo:nth-child(6) {
    background-image: url(../img/footer_block3__picture6.png);
    grid-column: 3/4;
    grid-row: 2/3;
}

.footer-block3__photo:nth-child(7) {
    background-image: url(../img/footer_block3__picture7.png);
    grid-column: 1/2;
    grid-row: 3/4;
}

.footer-block3__photo:nth-child(8) {
    background-image: url(../img/footer_block3__picture8.png);
    grid-column: 2/3;
    grid-row: 3/4;
}

.footer-block3__photo:nth-child(9) {
    background-image: url(../img/footer_block3__picture9.png);
    grid-column: 3/4;
    grid-row: 3/4;
}

.footer-block3__more-photos {
    display: block;
    text-decoration: none;
    font-family: $roboto;
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #333333;
}

.footer-block3__more-photos:hover {
    text-decoration: underline;
}

/* BOTTOM */

.footer__copyright {
    text-align: center;
    margin: 0 auto;
    padding: 24px 0 0 0;
    border-top: 1px solid #e5e5e5;
    font-family: $montserrat;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
}

.footer__laaqiq {
    color: #f38181;
}

@media (max-width: 1024px) {

    .container {
        padding: 0 32px;
    }

    /* HEADER */

    .header__top {
        margin: 0 0 100px 0;
    }

    .nav__item {
        margin: 0 0 0 45px;
    }

    .header__content {
        margin: 0 auto 100px auto;
    }

    .header__title-above {
        font-size: 60px;
        margin: 0 0 30px 0;
    }

    .header__title-main {
        font-size: 120px;
        line-height: 120px;
    }

    .header__title-main::after {
        margin: 50px auto 50px auto;
    }

    .header__block {
        font-size: 16px;
    }

    /* SECTION 1 */
    /* ABOUT */

    .about {
        padding: 60px 0 0 0;
    }

    .about__theme {
        margin: 0 auto 60px auto;
    }

    .theme__title-main::after {
        margin: 30px auto 40px auto;
    }

    .about__pictures {
        flex-direction: column;
        align-items: center;
        margin: 0 0 60px 0;
    }

    .link-gradient {
        margin: 0 0 20px 0;
    }

    /* SECTION 2 */
    /* SERVISES*/

    .services {
        padding: 60px 0;
    }

    .services-block__text {
        font-size: 14px;
    }

    /* SECTION 3 */
    /* DESIGN*/

    .design {
        padding: 60px 0 0 0;
    }

    /* FOOTER */

    .footer__content {
        flex-wrap: wrap;
    }

    .footer-block1 {
    max-width: 330px;
    margin: 0 0 30px 0;
    }

    .footer-block2 {
        max-width: 300px;
        margin: 0 20px 25px 20px;
    }

    .footer-block2__description {
        margin: 0px 0 8px 0;
    }
}

@media (max-width: 767px) {

    .container {
        padding: 0 16px;
    }

    /* HEADER */

    .header {
        padding: 16px 0;
        overflow: hidden;
    }

    .header__top {
        align-items: flex-start;
        margin: 0 0 50px 0;
    }

    .header__logo {
        order: 2;
        margin: 0 0 0 auto;
    }

    .logo {
        font-size: 24px;
    }

    .nav {
        order: 1;
        position: relative;
    }

    .window-bg--open {
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
    }

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 502;
        cursor: pointer;
    }
    
    .burger__line,
    .burger__line::before,
    .burger__line::after {
        display: block;
        width: 30px;
        border-bottom: 2px solid white;
        position: relative;
        transition: top .3s .3s ease,
                    transform .3s ease,
                    border-color .3s ease;
    }

    .burger__line::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
    }

    .burger__line::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
    }

    .burger__line--open {
        border-color: rgba(255, 255, 255, 0);
        transition: border-color .3s ease;
    }

    .burger__line--open::before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top .3s ease,
                    transform .3s .3s ease;
    }

    .burger__line--open::after {
        content: "";
        top: 0px;
        transform: rotate(-45deg);
        transition: top .3s ease,
                    transform .3s .3s ease;
    }
    
    .nav__list {
        flex-direction: column;
        align-items: initial;
        position: absolute;
        left: -300px;
        top: 60px;
        z-index: 502;
        transition: left .5s ease;
    }

    .window-bg-menu {
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: -16px;
        left: -60vw;
        z-index: 501;
        background-color: rgb(207, 177, 75);
        transition: left .5s ease;
    }

    .window-bg-menu--open {
        left: -16px;
    }

    .nav__list--open {
        left: 0;
    }

    .nav__item {
        margin: 0 0 10px 40px;
    }

    .nav__link {
        font-size: 12px;
    }

    .nav__link::after {
        margin: 3px 0 0 0;
    }

    .header__content {
        margin: 0 auto 40px auto;
    }

    .header__title-above {
        font-size: 30px;
        margin: 0 0 15px 0;
    }

    .header__title-main {
        font-size: 55px;
        line-height: 55px;
    }

    .header__title-main::after {
        margin: 25px auto 25px auto;
    }

    .header__button {
        width: 130px;
        font-size: 12px;
        padding: 11px 11px;
    }

    .header__bottom {
        display: none;
    }

    /* SECTION 1 */
    /* ABOUT */

    .about {
        padding: 32px 0 0 0;
    }

    .about__theme {
        margin: 0 auto 40px auto;
    }

    .theme__title-above {
        font-size: 18px;
        margin: 0 0 12px 0;
    }

    .theme__title-main {
        font-size: 24px;
    }
    .theme__title-main::after {
        margin: 15px auto 25px auto;
    }

    .theme__text {
        font-size: 12px;
        line-height: 20px;
    }

    .about__pictures {
        margin: 0 0 30px 0;
    }

    .link-gradient {
        margin: 0 0 20px 0;
        min-width: 270px;
        min-height: 178px;
    }

    .link-gradient__img {
        width: 270px;
        height: 178px;
    }

    .link-gradient__front {
        width: 270px;
        height: 178px;
    }

    .link-gradient__icon {
        margin: 0 0 5px 0;
    }

    .link-gradient__text {
        font-size: 14px;
    }

    .stat {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 16px 0;
    }

    .stat__block {
        width: 180px;
        min-height: initial;
        border-left: none;
        border-bottom: 1px solid #b5eae0;
        padding: 10px 0;
    }

    .stat__block--visible3 {
        animation: anim1-mobile forwards 0.7s linear;
    }
    
    .stat__block--visible4 {
        animation: anim2-mobile forwards 0.7s linear;
    }

    .stat__block:last-child {
        border-right: none;
    }

    .stat__number {
        font-size: 40px;
        margin: 0 0 5px 0;
    }

    .stat__text {
        font-size: 12px;
    }

    /* SECTION 2 */
    /* SERVICES */

    .services {
        padding: 32px 0;
    }

    .services__wrap {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 30px 30px;
    }

    .services__line {
        display: none;
    }

    .services-block:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .services-block:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .services-block:nth-child(5) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .services-block:nth-child(6) {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .services-block::before {
        min-width: 28px;
        height: 28px;
        margin: 2px 15px 0 0;
    }

    .services-block__title {
        margin: 0 0 12px 0;
    }

    .services-block__text {
        font-size: 12px;
        line-height: 20px;
    }

    /* SECTION 3 */
    /* DESIGN */

    .design {
        padding: 32px 0 0 0;
    }

    .design__pictures {
        margin: 0 auto;
        width: 90%;
        height: 400px;
        background-position: center bottom;
    }

    .design__pictures::after {
        width: 60%;
        height: 350px;
        right: -40px;
        background-position: center bottom;
        bottom: -75px;
    }

    /* FOOTER */

    .footer {
        padding: 60px 0 22px 0;
    }

    .footer__content {
        margin: 0 auto 25px auto;
        flex-direction: column;
        align-items: center;
    }

    .footer-block1__logo {
        margin: 0 0 25px 0;
    }

    .footer-block1__text {
        font-size: 12px;
        line-height: 20px;
        margin: 0 0 25px 0;
    }

    .footer-block1__followers {
        font-size: 12px;
    }

    .footer-block1__followers::after {
        margin: 20px 0;
    }

    .footer-block1__quantity {
        font-size: 14px;
    }

    .footer-block1__text-follow {
        font-size: 12px;
    }

    .footer-block1__social {
        margin: 0 0 25px 0;
        flex-wrap: wrap;
    }

    .footer-block1__email {
        font-size: 12px;
        padding: 7px;
        flex-grow: 1;
    }

    .footer-block1__btn {
        font-size: 12px;
        width: 120px;
    }

    .footer-block2 {
        max-width: 330px;
        margin: 0 0px 25px 0px;
    }

    .footer-block3 {
        min-width: 330px;
    }

    .footer-block3__title {
        margin: 0 0 25px 0;
    }

    .footer-block3__wrp {
        max-width: 270px;
    }

    .footer-block3__more-photos {
        font-size: 12px;
    }

    .footer__copyright {
        font-size: 12px;
        max-width: 330px;
        text-align: left;
    }

}




