@import "_variables.scss"; /* Переменные */
@import "_fonts.scss"; /* Шрифты */
@import "_global.scss"; /* Глобальные свойства */

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-image: url(../img/header__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(211, 211, 211);
    padding: 28px 0;
}

/* HEADER-TOP */

.header__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 170px 0;
}

.header__logo {
    margin: 0 auto 15px 0;
}

.logo {
    text-decoration: none;
    font-family: $montserrat-700;
    font-size: 30px;
    color: $header-text-color;
    transition: color .3s ease;
}

.logo:hover {
    color: $header-text-hover-color;
}

.nav__list {
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.nav__item {
    list-style-type: none;
    margin: 0 0 0 50px;
}

.nav__item:last-child {
    margin: 0 0 0 40px;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $montserrat;
    font-size: 14px;
    color: $header-text-color;
    transition: color .3s ease;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0%;
    border-bottom: 3px solid $header-text-hover-color;
    margin: 11px 0 0 0;
    transition: width .3s ease;
}

.nav__link:hover {
    color: $header-text-hover-color;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__basket,
.nav__search {
    fill: $header-text-color;
    cursor: pointer;
    transition: color .3s ease;
}

.nav__basket:hover,
.nav__search:hover {
    fill: $header-text-hover-color;
}

/* HEADER-CONTENT */

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    margin: 0 auto 155px auto;
}

.header__title-above {
    font-family: $kaushan;
    font-size: 72px;
    color: $header-text-color;
    text-align: center;
    margin: 0 0 60px 0;
}

.header__title-main {
    text-transform: uppercase;
    font-family: $montserrat-700;
    font-size: 150px;
    color: $header-text-color;
    line-height: 140px;
    text-align: center;
    margin: 0;
}

.header__title-main::after {
    content: "";
    display: block;
    border-bottom: 3px solid #fff;
    width: 60px;
    margin: 70px auto 50px auto;
}

.header__button {
    display: block;
    border: 3px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $montserrat-700;
    font-size: 14px;
    color: $header-text-color;
    padding: 11px 30px;
    word-break: break-all;
    transition: background-color .3s ease;
}

.header__button:hover {
    background-color: #eece59;
}

/* HEADER-BOTTOM */

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block {
    font-family: $montserrat;
    font-size: 18px;
    color: $header-text-color;
    text-transform: uppercase;
    max-width: 280px;
    flex-grow: 1;
    width: 100%;
    border-top: 3px solid #fff;
    padding: 24px 0 0 0;
    margin: 0 30px 0 0;
    opacity: 0.7;
    position: relative;
    cursor: pointer;
}

.header__block::after {
    content: "";
    display: block;
    width: 70px;
    border-top: 3px solid #fff;
    position: absolute;
    top: -3px;
    left: 0;
}

.header__block:hover {
    opacity: 1;
}

.header__block:hover::after {
    border-color: #f38181;
}

.header__block:last-child {
    margin: 0;
}

.header__block::before {
    content: "00";
    font-family: $montserrat-700;
    font-size: 24px;
    color: $header-text-color;
    margin: 0 8px 0 0;
}

.header__block:nth-child(1)::before {
    content: "01";
}

.header__block:nth-child(2)::before {
    content: "02";
}

.header__block:nth-child(3)::before {
    content: "03";
}

.header__block:nth-child(4)::before {
    content: "04";
}

/* MAIN */

/* ABOUT */

.about {
    background-color: #fff;
    padding: 94px 0 112px 0;
}

.about__theme {
    margin: 0 auto 103px auto;
}

.theme {
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme__title-above {
    font-family: $kaushan;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin: 0 0 25px 0;
}

.theme__title-main {
    text-transform: uppercase;
    font-family: $montserrat-700;
    font-size: 30px;
    color: #333333;
    text-align: center;
    margin: 0;
}

.theme__title-main::after {
    content: "";
    display: block;
    border-bottom: 3px solid #f38181;
    width: 60px;
    margin: 42px auto 46px auto;
}

.theme__text {
    font-family: $roboto;
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    text-align: center;
}

.about__pictures {
    display: flex;
    justify-content: space-between;
}

.about__link {
    margin: 0 28px 0 0;
    background-color: #95e1d3;
    min-width: 380px;
    min-height: 250px;
    position: relative;
}

.about__link:last-child {
    margin: 0;
}

.about__link:hover .about__img {
    position: absolute;
    top: -10px;
    left: -10px;
}

.about__img {
    display: block;
    width: 380px;
    height: 250px;
}

